
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/*Navbar*/
.Navbar {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  height: auto;
  font-family: 'Komika Jam', sans-serif;
}

.text-menu:hover {
  color: black !important;
}

.Logo {
  height: 30px;
  width: 30px;
}

.container1 {
 padding-left: 50px;
 width: 100%;
}

.nav-item {
  padding-left: 10px;
}

.navbar-collapse {
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

.my-nav-dropdown .dropdown-menu {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  text-decoration: none;
}

.my-nav-dropdown:hover{
  color: #000 !important;
}

.text-menu {
  color:#fff !important;
}

.my-nav-dropdown .dropdown-toggle {
  color: #fff;
}

.nav-link{
  color: #fff !important;
}

.nav-link:hover {
  color: #000 !important;
}

 li > .my-dropdown-menu   {
  background-color: #000 !important;
}

.my-navbar-toggle span {
  border-color: #fff;
}

@media (min-width: 768px) {
  .navbar-collapse {
    display: none !important;
    background: transparent !important;
  }
}
